// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('home-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-black {
	
	background-color: black;
}

.new_user {
max-width: 330px;
padding: 5em 1em;
margin: 0 auto;
}

.m-t{
	
margin-top: 10px;

}

.m-b{

margin-bottom: 10px;

}
.pull-right{
	
	float: right;
}

